image: maven:latest

stages:
  - checkstyle
  - compile
  - test
  - install
  - deploy

checkstyle:
  stage: checkstyle
  script:
    - mvn clean prettier:check

compile:
  stage: compile
  script:
      - mvn compile
      - mvn clean

test:
  stage: test
  script:
      - mvn clean -Dtest=\!JwtTokenSingletonTest,\!TokenControllerTest,\!FoodProductControllerTest#testGetFoodProductByEanThatDoesNotExist test
      - mvn clean

install:
  stage: install
  script:
      - mvn -Dtest=\!JwtTokenSingletonTest,\!TokenControllerTest,\!FoodProductControllerTest#testGetFoodProductByEanThatDoesNotExist install

pages:
  stage: deploy
  script:
    - mvn clean -Dtest=\!JwtTokenSingletonTest,\!TokenControllerTest,\!FoodProductControllerTest#testGetFoodProductByEanThatDoesNotExist test jacoco:report
    - mv target/site/jacoco/ public
  artifacts:
    paths:
      - public
  only:
    - main